/********************************************************
************************* FOOTER ************************
********************************************************/
footer {
	height: 280px;
	padding: 15px 0;
}
/* Sitemap */

footer nav ul {
	height: 250px;
}
footer nav ul li {
	width: 200px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left
	float: left;
	display: block;
}
footer nav ul li:first-child {
	display: none;
}
footer nav ul li ul {
	width: 200px;
	height: 150px;
	margin-left: 10px;
	margin-bottom: 0;
}
footer nav ul li ul li {
	width: 100%;
	margin: 0 0 2px 0;
	padding-left: 2px;
	font-weight: normal;
}
footer nav ul li ul li:first-child {
	width: 100%;
	display: block;
}
footer nav ul li a {
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	border: none;
	font-size: 12px;
}
footer nav ul li a:hover{
	text-decoration: underline;
	border: none;
}