/********************************************************
************************* GLOBAL ************************
********************************************************/
body {
	background-color: #F5F5F5;
	border-top: 3px solid #FFD400;
	font: 13px/1.5 Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	word-wrap: break-word;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
.container_12 {
	/*background-image: url(../12_col.gif);*/
	background-repeat: repeat-y;
}
/* Link */
a {
	color: #FFAA00;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
	text-shadow: 2px 1px 0px #CCCCCC;
}
.slider .rsContainer li a:active h2, .slider .rsContainer li a:active span, .info:active, .featured a:active h2, .type-product li a:active h3 {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;
	text-decoration: none;
}
/* Lista */
ul {
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}
li {
	list-style: none outside none;
}
/* Text */
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
}
h1 {
	color: #FFD400;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.692em;
	text-transform: uppercase;
}
h2 {
	color: #000000;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.692em;
}
h3 {
	color: #000000;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.462em;
}
h4 {
	color: #666666;
	font-family: 'MuseoSans100', Arial;
	font-size: 1.385em;
}
h5 {
	color: #FFFFFF;
	font-family: 'MuseoSans100', Arial;
	font-size: 1.385em;
	text-transform: uppercase;
}
h6 {
	color: #000000;
	font-size: 1.077em;
}
.categ {
	color: #000000;
	font-family: 'MuseoSans900', Arial;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
}
blockquote {
	background-color: #F5F5F5;
	border-left: 3px solid #FFD400;
	margin: 0 25px 25px;
	clear: both;
}
blockquote p {
	color: #000000;
	font-family: 'MuseoSans100',Arial;
	font-size: 1.385em;
	line-height: 1.846em;
	margin: 0;
	padding: 15px 20px;
}
p {
	color: #000000;
	font-family: Arial;
	font-size: 1.077em;
	line-height: 1.692em;
	margin: 0 0 25px;
    padding: 0 25px;
}
/* Form */
input, textarea, .upload span.extension {
	padding: 8px;
	font-size: 1.077em;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	height: 20px;
	display: inline-block;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	-moz-box-shadow: inset 0px 0px 3px 0px #E5E5E5;
}
input:focus, textarea:focus {
	border: 1px solid #FFD400;
}
button {
	border: 1px solid #FFE600;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.077em;
	text-transform: capitalize;
	text-align: center;
	padding: 8px;
	height: 38px;
	vertical-align: top;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%, #FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%, #FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button:hover, button:focus {
	border: 1px solid #FFAA00;
	background: #FFE600;
}
button:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	-moz-box-shadow: inset 0 0 3px 0px #666666;
}
/* Seletores */
::selection {
	background:#FFD400;
	color:#000000;
}
::-moz-selection {
	background:#FFD400;
	color:#000000;
}
::-webkit-selection {
	background:#FFD400;
	color:#000000;
}
/* Seletores preto */
header nav ul li a:selection, .slider span::selection, .slider h2::selection, button::selection, .productbox h3::selection, .featured h2::selection, .pagination a::selection, .dk_label::selection, .abas a::selection {
	background:#000000;
	color:#FFFFFF;
}
header nav ul li a::-moz-selection, .slider span::-moz-selection, .slider h2::-moz-selection, button::-moz-selection, .productbox h3::-moz-selection, .featured h2::-moz-selection, .pagination a::-moz-selection, .dk_label::-moz-selection, .abas a::-moz-selection {
	background:#000000;
	color:#FFFFFF;
}
header nav ul li a::-webkit-selection, .slider span::-webkit-selection, .slider h2::-webkit-selection, button::-webkit-selection, .productbox h3::-webkit-selection, .featured h2::-webkit-selection, .pagination a::-webkit-selection, .dk_label::-webkit-selection, .abas a::-webkit-selection {
	background:#000000;
	color:#FFFFFF;
}
/* Placeholder */
::-webkit-input-placeholder {
	color: #999999;
}
:-moz-placeholder {
	color: #999999;  
}
:-ms-input-placeholder {
	color: #999999;  
}

/********************************************************
************************* HEADER ************************
********************************************************/
/* Logo */
header h1 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.logo {
	background:url('../image/logo.png') 0 0 no-repeat transparent;
	text-indent: -99999em;
	display: block;
	height: 80px !important;
}
/* Busca */
header form {
	margin-top: 30px;
	display: block;
}
header form label, #mc-embedded-subscribe-form label, .not-found form label {
	display:none;
}
header form input {	
	width: 203px;
}
header form button {
	width: 75px;
}
header form button span, .not-found form button span {
	background: url("../image/search.png") no-repeat scroll 0 0 transparent;
	color: transparent;
	height: 17px;
	text-indent: -99999em;
	width: 18px;
	display: inline-block;
}
/* Navegação principal */
nav {
	clear: both;
}
header nav {
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #FFD400;
	height: 28px;
	position: relative;
}
header nav ul li {
	float: left;
	position: relative;
}
header nav ul li:last-child {
	position: absolute;
	right: 0;

	background: #CCCCCC;
	background: -moz-linear-gradient(top,  #CCCCCC 0%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top,  #CCCCCC 0%, #E5E5E5 100%);
	background: -o-linear-gradient(top,  #CCCCCC 0%, #E5E5E5 100%);
	background: -ms-linear-gradient(top,  #CCCCCC 0%, #E5E5E5 100%);
	background: linear-gradient(to bottom,  #CCCCCC 0%, #E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#E5E5E5',GradientType=0 );
}
header nav ul li:last-child a {
	font-family: 'MuseoSans900';
}
header nav ul li:hover {
	background: #FFD400;
}
header nav ul li a {
	color: #000000;
	text-decoration: none;
	position: relative;
	padding: 5px 8px !important;
	display: inline-block;
	text-decoration: none !important;
	font-family: 'MuseoSans500', Arial;
	text-transform: uppercase;
	white-space: normal;
	width: auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
header nav ul li a:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	-moz-box-shadow: inset 0 0 3px 0px #666666;
	text-shadow: none;
}
/* Sub-menu */
header nav ul.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1;
	background-color: #FFFFFF;
	width: auto;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
header nav ul.sub-menu li {
	border-left: 3px solid transparent;
}
header nav ul.sub-menu li:last-child {
	background: transparent;
	position: relative;
}
header nav ul.sub-menu li:hover {
	border-left: 3px solid #000000;
	background-color: #E5E5E5;
}
header nav ul.sub-menu li:hover:last-child {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
header nav ul.sub-menu li a {
    width: 160px;
    font-family: Arial;
    text-transform: capitalize;
}
header nav ul.sub-menu li a:active {
	background-color: #FFFFFF;
}
header nav ul.sub-menu li:active:last-child a {
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	-ms-border-radius: 0 0 3px 0;
	-o-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
}
/* Subníveis do sub-menu */
header nav ul.sub-menu li ul.sub-menu {
	left: 100%;
	top: 0;
	margin-left: 0;
}

/********************************************************
************************* CONTEÚDO **********************
********************************************************/
/* Breadcrumb */
ol.breadcrumb {
	border-bottom: 1px solid #333333;
	margin: 5px 0 15px;
	min-height: 28px;
	overflow: hidden;
	padding: 0;
}
/* Content */
.content {
	width: 100%;
	/*height: 400px;*/
	min-height: 200px;
	position: relative;
	border-bottom: 3px solid #FFD400;
}
/* Background content */
img.bg {
	height: 100%;
	left: 0;
	/*min-height: 10%;*/
	min-width: 960px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	background-color: #000000;
}
.content .container_12 {
	padding: 5px 0 55px 0;
}
.top_bottom {
	margin-bottom: 20px;
	margin-top: 20px;
}

/************************ Index ***********************/
/* Infobar */
.info {
	color: #FFFFFF;
	font-size: 1.231em;
	text-decoration: underline;
}
.info:hover {
	color: #FFD400;
	text-decoration: none;
}
.content button.grid_3 {
	text-transform: uppercase;
}
/* Slider */
.slider {
	padding: 0 !important;
	height: 260px;
	position: relative;
}
.slider img {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.slider ul li a div {
	height: 205px;
}
.slider span, .slider h2 {
	margin: 15px;
	display: block;
}
.slider h2 {
	clear: both;
}
.slider ul li:hover h2 {
	text-decoration: underline;
}
.number-slider {
	color: #000000;
	font-family: 'MuseoSans900', Arial;
	font-size: 1.538em;
	float: left;
	margin: 15px 15px 15px 0 !important;
}
.rsNav, .rsTabs {
	position: absolute;
	bottom: 5%;
	left: 11%;
	width: auto;
}
.rsTabs li {
	display: inline-block;
	background: url("../image/button-slider.png") no-repeat scroll -68px -7px transparent;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
.rsTabs li:hover {
	background: url("../image/button-slider.png") no-repeat scroll -68px -51px transparent;
}
.rsTabs .rsNavSelected {
	background: url("../image/button-slider.png") no-repeat scroll -36px -51px transparent;
}
.rsTabs .rsNavSelected:hover {
	background: url("../image/button-slider.png") no-repeat scroll -36px -7px transparent;
}
.rsArrow {
	height: 40px;
	width: 40px;
	bottom: 4%;
	position: absolute;
	cursor: pointer;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.rsArrowRight {
	background: url("../image/button-slider.png") no-repeat scroll -90px 2px transparent;
	left: 21%;
}
.rsArrowRight:hover {
	background: url("../image/button-slider.png") no-repeat scroll -90px -41px #333333;
}
.rsArrowLeft {
	background: url("../image/button-slider.png") no-repeat scroll 2px -43px transparent;
	left: 4%;
}
.rsArrowLeft:hover {
	background: url("../image/button-slider.png") no-repeat scroll 2px 0px #333333;
}
.rsArrowRight:active, .rsArrowLeft:active {
	-webkit-box-shadow: inset 0 0 5px 0px #000000;
	box-shadow: inset 0 0 5px 0px #000000;
	-moz-box-shadow: inset 0 0 5px 0px #000000;
}
/* Mais vendidos */
section.grid_4 div.box ul li a {
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 10px 0;
}
.number {
	font-family: 'MuseoSans900', Arial;
	font-size: 3.692em;
	margin: 0 10px 0 20px;
	display: block;
	float: left;
	line-height: 1.231em;
	width: 60px;
	color: #000000;
}
.group {
	padding: 5px 0 0 !important;
	margin-left: 70px;
	width: 210px;
}
.group h2 {
	margin: 0;
}
/* Promoção e Destaque */
.featured a, .type-product li a {
	text-decoration: none;
}
.featured {
	height: 300px;
	position: relative;
}
.featured img, .productbox a img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 190px;
}
.featured h2, .type-product li h3 {
	text-align: center;
	margin: 0;
	line-height: 2.462em;
	text-transform: capitalize;
}
.saibamais {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 35px;
	line-height: 2.692em;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	font-family: 'MuseoSans500',Arial;
	background: #FFFFFF;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.featured:active .saibamais, .type-product li:active .saibamais {
	color: #FFFFFF;
	text-shadow: none;
	background-color: #000000;
}
/* Newsletter */
form#mc-embedded-subscribe-form input {
	width: 280px;
}
/* Redes sociais */
.spread li.facebook {
	padding: 8px;
}
.spread li.twitter {
	padding: 12px 15px 8px 15px;
}
.spread li.google {
	padding: 12px 15px 10px 15px;
}
/* Parceiros */
.parceiros li {
	display: inline-block;
	margin: 0 10px;
	border: medium none !important;
}
.parceiros li a {
	display: block;
	height: 100%;
	padding: 15px 0;
	width: 100%;
}
/* >>>>> TEMPORÁRIO <<<<< */
.box, .entry-content {
	background-color: #FFFFFF;
	border-bottom: 2px solid #FFD400;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.box ul li + li {
	border-top: 1px solid #CCCCCC;
}
.box-yellow, .productbox:hover {

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%, #FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%, #FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}

/************************* 404 ************************/
.not-found img {
	margin: 50px 0;
}
.not-found h1, .not-found span, .not-found strong, .not-found div {
	text-align: center;
}
.not-found span, .not-found strong {
	color: #FFFFFF;
	font-size: 1.077em;
}
.not-found div {
	margin-top: 30px;
}
.not-found div form input {
	width: 200px;
}
.not-found div form button {
	width: 75px;
}

/*********************** Contact **********************/
/********************* Budget Form ********************/
label {
	color: #FFFFFF;
	text-align: right;
	font-size: 1.231em;
	line-height: 2.154em;
}
.formcontact, .budgetform {
	margin-top: 20px;
}
.formcontact .dk_container, .budgetform .dk_container {
	margin-left: 10px;
}
.formcontact input, .formcontact textarea, .formcontact select, .budgetform input, .budgetform textarea, .budgetform select {
	margin-left: 10px;
	width: 282px;
}
.formcontact textarea, .budgetform textarea {
	max-width: 282px;
	min-width: 282px;
	height: 160px;
}
.formcontact div.grid_6.omega.alpha, .budgetform div.grid_6.omega.alpha {
	margin-bottom: 20px;
}
aside address ul li {
	padding: 10px 15px;
}
aside address p {
	margin: 8px 0;
	padding: 0;
}
aside address a {
	display: inline-block;
}
.mapa {
	margin: 8px 0 5px;
}
.budgetform #cidade {
	width: 150px;
	float: left;
}
.budgetform #uf {
	width: 24px;
}
/****************** Single / Page ******************/
.thumbnail {
	margin-top: -20px;

	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.entry-content {
	position: relative;
	padding-top: 20px;
}
.entry-content header {
	margin-bottom: 20px;
}
time {
	float: left;
	color: #000000;
	font-family: 'MuseoSans100',Arial;
	font-size: 2.308em;
	height: 45px;
	line-height: 1em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 45px;
	margin-top: 5px;
}
time span {
	float: none !important;
	font-family: 'MuseoSans500';
	font-size: 0.615em;
	line-height: 1em;
	margin: 0 !important;
	width: auto !important;
	display: block;
}
.entry-content header div, .entry-content footer div, .entry-content div div {
	display: block;
	width: 100%;
	height: 25px;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content address, .entry-content pre {
	padding: 0 25px;
	margin: 5px 0 20px;
}
.entry-content p img, .entry-content h1 img, .entry-content h2 img, .entry-content h3 img, .entry-content h4 img, .entry-content h5 img, .entry-content h6 img, .entry-content address img, .entry-content pre img {
	display: block;
	float: left;
	height: auto;
	margin: 0 25px 25px 0;
	max-width: 570px;
}
.wp-caption {
	float: left;
	margin: 0 25px 25px;
	width: auto !important;
	padding: 0 0 5px;
	background-color: #F5F5F5;

	-webkit-box-shadow: inset 0 0 1px 0 #999999;
	box-shadow: inset 0 0 1px 0 #999999;
	-moz-box-shadow: inset 0 0 1px 0 #999999;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
p.wp-caption-text {
	color: #000000;
	font-family: Arial;
	font-size: 1em;
	line-height: 1.538em;
	margin: 0;
	padding: 0 10px;
}
.entry-content .infopost span {
	display: block;
	margin: 10px 10px 0 25px;
	width: 515px;
	float: left;
}
div span.number-comments {
	color: #FFFFFF;
	font-size: 0.923em;
	float: right;
	background: url("../image/comment.png") no-repeat scroll 0 0 transparent;
	width: 36px !important;
	height: 28px;
	text-align: center;
	line-height: 1.846em;
	right: 10px;
	top: 10px;
	position: absolute;
}
div span.number-comments a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	height: 28px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div span.number-comments:hover {
	background: url("../image/comment.png") no-repeat scroll 0 -29px transparent;
}
footer div span.number-comments {
	right: 0;
	top: 0;
	position: inherit;
}
.author-name {
	width: 200px !important;
	margin: 0 !important;
	float: left;
}
.hshared, .fshared {
	border-bottom: 1px solid #CCCCCC;
	margin: 25px 25px 0;
	padding: 0 0 20px;
	width: 570px !important;
}
.hshared ul li, .fshared ul li {
	float: right;
	max-width: 110px;
	width: 100px;
}
.hshared ul li + li, .fshared ul li + li {
    margin: 0 8px;
}
.hshared ul li span, .fshared ul li span {
	margin: 0;
}
.fshared {
	border-top: 1px solid #CCCCCC;
	border-bottom: none medium;
	padding: 20px 0 0;
	margin: 30px 25px;
}
.fshared ul li {
	float: left;
}
.entry-content footer {
	height: auto;
	padding: 0;
	margin: 0;
}
.author {
	background-color: #F5F5F5;
}
.author img {
	border-bottom: 2px solid #FFD400;
	float: left;
	margin: 25px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.author-bio {
	padding: 25px 25px 25px 135px;
	width: 460px !important;
}
.author, .author-bio {
	height: auto !important;
}
.author-bio p, .author-bio h2 {
	padding: 0;
	margin: 0 !important;
}
.author-bio h2 {
	margin-bottom: 10px !important;
}
.author-bio button {
	margin: 20px 0 0;
}
/* Comments */
.comment {
	margin-top: 50px !important;
}
.commentform {
	margin-top: 20px;
}
.commentform input, .commentform textarea {
	width: 442px;
	margin-left: 10px;
}
.commentform div {
	margin-bottom: 20px;
}
.commentform textarea {
	max-width: 442px;
	min-width: 442px;
	height: 120px;
}

/********************** Sidebar *********************/
aside .widget-container {
	margin-bottom: 45px;
	clear: both;
}
.widget-container .dk_toggle {
	margin-bottom: 40px;
	width: 282px !important;
}
.widget-spot {
	height: 245px;
	padding-top: 5px;
}
.widget li {
	border-left: 3px solid transparent;
}
.widget li:first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.widget li:hover {
	border-left: 3px solid #000000;
	background-color: #E5E5E5;
}
.widget li a {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	text-transform: capitalize;
	display: block;
}
.widget li a:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	-moz-box-shadow: inset 0 0 3px 0px #666666;
	text-shadow: none;
	background-color: #FFFFFF;
}
.widget li:active:first-child a {
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	-ms-border-radius: 0 3px 0 0;
	-o-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

/*************** Categoria dos produtos **************/
.type-product li {
	margin-bottom: 40px;
	height: 300px;
}
.productbox {
	position: relative;
}
/************* Listagem e sistema de abas ************/
.abas li {
	width: 210px;
	margin-bottom: 8px;
}
.abas li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 5px;
	text-transform: uppercase;
	font-family: Arial;
	width: 200px;
	background: #CCC;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.abas li.selected {
	background-image: url('../image/aba.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-attachment: scroll;
	background-color: transparent;
	background-size: 10px 100%;
	width: 220px;
	font-weight: bold;
}
.abas li a:hover, .abas li.selected a {
	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%, #FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%, #FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}
.abas li a:active {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;

	-webkit-box-shadow: inset 0px 0px 3px 0px #666666;
	box-shadow: inset 0px 0px 3px 0px #666666;
	-moz-box-shadow: inset 0px 0px 3px 0px #666666;
}
.abas li.selected a:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}
/* Pagination */
.pagination {
	height: 40px;
	position: relative;
	margin-top: 25px;
}
.pagination span {
	color: #FFFFFF;
	display: inline;
	font-family: 'MuseoSans500';
	font-size: 1.538em;
	line-height: 1.846em;
	text-transform: uppercase;
}
.pagination ul {
	width: auto;
	position: absolute;
	right: 10px;
	top: 0;
}
.pagination li {
	float: left;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #FFFFFF;
	margin-right: 10px;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.pagination li a {
	text-decoration: none;
	line-height: 2em;
	font-size: 1.538em;
	color: #000000;
	font-family: 'MuseoSans500', Arial;
	display: block;
	text-align: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.pagination li:first-child {
	background-image: url("../image/button-slider.png");
	background-position: 2px -43px;
}
.pagination li:last-child {
	background-image: url("../image/button-slider.png");
	background-position: -90px 2px;
	margin-right: 0;
}
.pagination li:first-child, .pagination li:last-child {
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-indent: -99999em;
}
.pagination li:hover, .pagination li.current {
	background-color: #FFD400;
}
.pagination li.current a {
	cursor: default;
	font-family: 'MuseoSans900', Arial;
}
.pagination li.current:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	background-color: #FFD400;
}
.pagination li.current a:active {
	color: #000000 !important;
	text-shadow: none;
}
.pagination li:active {
	-webkit-box-shadow: inset 0 0 5px 0px #000000;
	box-shadow: inset 0 0 5px 0px #000000;
	-moz-box-shadow: inset 0 0 5px 0px #000000;
	background-color: #999999;
}
.pagination li:first-child:active {
	background-position: 2px 0;
}
.pagination li:last-child:active {
	background-position: -90px -41px;
}
.pagination li:active a {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;
}

/***************** Blog ****************/
.homeblog .hshared {
	border: none medium !important;
}
.list-posts li {
	padding: 10px !important;
	position: relative;
}
.list-posts li + li {
	border-top: 1px solid #CCCCCC;
}
.list-posts hgroup {
	margin-left: 70px;
}
.list-posts hgroup h2, .list-posts hgroup h4 {
	margin: 0 !important;
}
.list-posts time {
	margin-top: 0;
}

/*********** Trabalhe conosco **********/
.upload h5, aside h5, .product h5 {
	margin-top: 11px;
}
.upload span.extension {
	width: 202px;
	float: left;
	margin-bottom: 20px;
	margin-right: 5px;
}
.upload button {
	width: 75px;
}
.upload button span {
	background: url("../image/upload.png") no-repeat scroll 0 0 transparent;
	color: transparent;
	height: 16px;
	text-indent: -99999em;
	width: 19px;
	display: inline-block;
}

/*************** Produto **************/
.product img, .product .box span.exclusive {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.product .box span.exclusive {
	text-align: center;
}
.exclusive {
	color: #000000;
	font-family: 'MuseoSans900';
	font-size: 1.077em;
	text-transform: uppercase;
	margin: 10px;
}
.product ul {
	margin-top: 30px;
}
.product ul li, .product .aplications h6 {
	height: 32px;
	margin: 0 15px;
	padding: 8px 0;
}
.product .aplications h6 {
	height: auto;
	padding: 0;
}
.product ul li img {
	float: left;
	font-weight: bold;
	margin-right: 5px;
	line-height: 2.308em;
}
.product ul li span {
	display: block;
	line-height: 2.308em;
	margin: 0 0 0 50px;
}
.product .eco {
	font-family: 'MuseoSans500';
	font-size: 1.538em;
	text-align: center;
}
.axis img {
	margin-top: 5px;
	line-height: 1.538em !important;
}
.recommended {
	margin: 0 0 25px;
	padding: 0 25px;
}
.recommended h6 {
	margin: 0 0 10px;
	padding: 0;
}
.recommended span {
	background: url("../image/recomendado.png") no-repeat scroll 0 0 transparent;
	color: transparent;
	height: 29px;
	text-indent: -99999em;
	width: 29px;
	display: inline-block;
	float: left;
}
.recommended ul {
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 25px;
	width: auto;
}
.recommended ul li {
	display: inline-block;
	margin-bottom: 8px;
}
.recommended ul li + li {
	border-left: 1px solid #CCCCCC;
	margin-left: 8px;
	padding-left: 8px;
}
.recommended ul li:nth-child(14), .recommended ul li:nth-child(27), .recommended ul li:nth-child(40), .recommended ul li:nth-child(53) {
	border-left: medium none;
	margin-left: 0;
	padding-left: 0;
}

/********************************************************
************************* FOOTER ************************
********************************************************/
footer {
	height: auto;
	padding: 15px 0;
}
/* Sitemap */
footer nav ul li {
	width: 150px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	display: block;
}
footer nav ul li:first-child {
	display: none;
}
footer nav ul li ul {
	margin-left: 10px;
}
footer nav ul li ul li {
	margin: 0 0 2px 0;
	font-weight: normal;
}
footer nav ul li ul li:first-child {
	display: block;
}
footer nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	font-size: 0.923em;
}
footer nav ul li a:hover{
	text-decoration: underline;
}
/* Selos */
footer .selo li:first-child {
	margin-bottom: 15px;
	height: 50px;
}
footer .selo li a {
	display: block;
}
footer .selo li a img {
	float: right;
}

































/*************** Dropdown **************
.select-dropdown {
	position: relative;
	width: 282px;
	margin-left: 10px;
	margin: 0 auto 0 10px;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 8px;
	font-size: 1.077em;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	box-shadow: inset 0px 0px 3px 0px #E5E5E5;
}
.select-dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 50%;
	border-color: #000000 transparent;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	margin-top: -3px;
}
.select-dropdown span {
	display: block;
	margin-right: 30px;
	text-align: left;
}
.select-dropdown .dropdown {
	position: absolute;
	top: 105%;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	opacity: 0;
	pointer-events: none;

	-webkit-box-shadow: 0px 0px 6px 0px #000000;
	box-shadow: 0px 0px 6px 0px #000000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.select-dropdown .dropdown li {
	border-left: 3px solid transparent
}
.dropdown li:first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.dropdown li:last-child {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.select-dropdown .dropdown li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 8px;
}
.select-dropdown .dropdown li:hover {
	background: #E5E5E5;
	border-left: 3px solid #000000;
}
.select-dropdown .dropdown li:active {
	background-color: #FFFFFF;

	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
}
.select-dropdown .dropdown li:active a {
	text-shadow: none;
}
.select-dropdown.active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%, #FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%, #FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}
.select-dropdown.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}
.no-opacity .select-dropdown .dropdown, .no-pointerevents .select-dropdown .dropdown {
	display: none;
	opacity: 1;
	pointer-events: auto;
}
.no-opacity .select-dropdown.active .dropdown, .no-pointerevents .select-dropdown.active .dropdown {
	display: block;
}*/








































/* Dropkick */
.dk_container {
	display: none;
	float: left;
	position: relative;
}
.dk_container:focus {
	outline: 0;
}
.dk_container a {
	cursor: pointer;
	text-decoration: none;
	outline: 0;
}
.dk_toggle {
	display: -moz-inline-stack;
	display: block;
	*display: inline;
	position: relative;
	zoom: 1;

	margin: 0;
	padding: 8px;
	font-size: 1.077em;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	min-height: 20px;
	height: auto;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	-moz-box-shadow: inset 0px 0px 3px 0px #E5E5E5;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dk_toggle:hover {
	border: 1px solid #FFD400;
}
.dk_toggle:active, .dk_options a:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	-moz-box-shadow: inset 0 0 3px 0px #666666;
	text-shadow: none;
	background-color: #FFFFFF !important;
}
.dk_toggle:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 50%;
	border-color: #000000 transparent;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	margin-top: -3px;
}
.dk_focus .dk_toggle {
	border-color: #40b5e2;
}
.dk_focus .dk_toggle {
	border: 1px solid #FFD400;
}
.dk_open .dk_toggle {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	-moz-box-shadow: inset 0 0 3px 0px #666666;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%, #FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%, #FFD400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}
.dk_label {
	display: block;
	margin-right: 30px;
}
.dk_open {
	z-index: 10;
}
.dk_options {
	display: none;
	margin-top: 5px;
	position: absolute;
	right: 0;
	width: 100%;

	color: #000000;
	font-size: 1.077em;
	font-style: italic;
}
.dk_options li + li {
	border-top: 1px solid #CCCCCC;
}
.dk_options a {
	color: #000000;
	padding: 8px;
	border-left: 3px solid transparent;
}
.dk_options a:hover {
	background-color: #E5E5E5;
	border-left: 3px solid #000000;
}
.dk_options_inner {
	background-color: #FFFFFF;

	-webkit-box-shadow: 0px 0px 6px 3px #000000;
	box-shadow: 0px 0px 6px 3px #000000;
	-moz-box-shadow: 0px 0px 6px 3px #000000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.dk_options_inner, .dk_touch .dk_options {
	max-height: 250px;
}
.dk_open {
	position: relative;
}
.dk_open .dk_options {
	display: block;
}
.dk_open .dk_label {
	color: inherit;
}
.dk_options a, .dk_options a:link, .dk_options a:visited {
	display: block;
}
.dk_options_inner {
	overflow: auto;
	position: relative;
}
.dk_touch .dk_options {
	overflow: hidden;
}
.dk_touch .dk_options_inner {
	max-height: none;
	overflow: visible;
}
.dk_fouc select {
	position: relative;
	top: -99999em;
	visibility: hidden;
}









































/* TipTip */
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#tiptip_holder.tip_top {
	padding-bottom: 5px;
}
#tiptip_holder.tip_bottom {
	padding-top: 5px;
}
#tiptip_holder.tip_right {
	padding-left: 5px;
}
#tiptip_holder.tip_left {
	padding-right: 5px;
}
#tiptip_content {
	font-size: 0.923em;
	color: #FFFFFF;
	padding: 4px 8px;
	border: 1px solid rgba(204,204,204,0.25);
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000000));

	-webkit-box-shadow: 0px 0px 6px 0 #000000;
	box-shadow: 0px 0px 6px 0 #000000;
	-moz-box-shadow: 0px 0px 6px 0 #000000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow, #tiptip_holder.tip_bottom #tiptip_arrow, #tiptip_holder.tip_right #tiptip_arrow, #tiptip_holder.tip_left #tiptip_arrow {
	border-top-color: #CCCCCC;
	border-top-color: rgba(204,204,204,0.25);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(0,0,0);
	border-top-color: rgba(0,0,0,0.85);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgba(0,0,0);
	border-bottom-color: rgba(0,0,0,0.85);
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(0,0,0);
	border-right-color: rgba(0,0,0,0.85);
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(0,0,0);
	border-left-color: rgba(0,0,0,0.85);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px;
		background-color: rgba(0,0,0,0.85);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(0,0,0,0.85);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(0,0,0,0.85);
	}
}


