@import url("footer.css");

/********************************************************
************************* GLOBAL ************************
********************************************************/
body {
	background-color: #F5F5F5;
	border-top: 3px solid #FFD400;
	font: 13px/1.5 Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	word-wrap: break-word;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
.container_12 {
	/*background-image: url(../12_col.gif);*/
	background-repeat: repeat-y;
}
/* Link */
a {
	color: #FFAA00;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
	text-shadow: 2px 1px 0px #CCCCCC;
}
.slider .rsContainer li a:active h2, .slider .rsContainer li a:active span, .info:active, .featured a:active h2, .type-product li a:active h3 {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;
	text-decoration: none;
}
/* Lista */
ul {
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
}
li {
	list-style: none outside none;
}
/* Text */
h1, h2, h3, h4, h5 {
	margin: 5px 0;
}
h1 {
	color: #FFD400;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.692em;
	text-transform: uppercase;
}
h2 {
	color: #000000;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.692em;
}
h3 {
	color: #000000;
	font-family: 'MuseoSans500', Arial;
	font-size: 1.462em;
}
h4 {
	color: #666666;
	font-family: 'MuseoSans100', Arial;
	font-size: 1.385em;
}
h5 {
	color: #000000;
	font-size: 1.077em;
}
.categ {
	color: #000000;
	font-family: 'MuseoSans900', Arial;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
}
blockquote {
	background-color: #F5F5F5;
	border-left: 3px solid #FFD400;
	margin: 0 25px 25px;
	clear: both;
}
blockquote p {
	color: #000000;
	font-family: 'MuseoSans100',Arial;
	font-size: 1.385em;
	line-height: 1.846em;
	margin: 0;
	padding: 15px 20px;
}
p {
	color: #000000;
	font-family: Arial;
	font-size: 1.077em;
	line-height: 1.692em;
	margin: 0 0 25px;
    padding: 0 25px;
}
/* Form */
input, textarea {
	padding: 8px;
	font-size: 1.077em;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 0px 3px 0px #E5E5E5;
	box-shadow: inset 0px 0px 3px 0px #E5E5E5;
}
input:focus, textarea:focus {
	border: 1px solid #FFD400;
}
button {
	border: 1px solid #FFE600;
	font-family: MuseoSans500,Arial;
	font-size: 1.077em;
	text-transform: capitalize;
	text-align: center;
	padding: 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%,#FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%,#FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}
button:hover {
	border: 1px solid #FFAA00;
	background: #FFE600;
}
button:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
}
/* Seletores */
::selection {
	background:#FFD400;
	color:#000000;
}
::-moz-selection {
	background:#FFD400;
	color:#000000;
}
::-webkit-selection {
	background:#FFD400;
	color:#000000;
}
/* Placeholder */
::-webkit-input-placeholder {
	color: #999999;
}
:-moz-placeholder {
	color: #999999;  
}
:-ms-input-placeholder {
	color: #999999;  
}

/********************************************************
************************* HEADER ************************
********************************************************/
/* Logo */
header h1 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.logo {
	background:url('../image/logo.png') 0 0 no-repeat transparent;
	text-indent: -9999em;
	display: block;
	height: 80px !important;
}
/* Busca */
header form {
	margin-top: 30px;
	display: block;
}
header form label, #mc-embedded-subscribe-form label, .not-found form label {
	display:none;
}
header form input {	
	width: 203px;
}
header form button {
	width: 75px;
}

/* Navegação principal */
nav {
	clear: both;
}
header nav div {
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid #FFD400;
	height: 28px;
}
header nav ul li {
	display: inline-block;
	position: relative;
}
header nav ul li:hover {
	background-color: #FFD400;
}
header nav ul li a {
	color: #000000;
	text-decoration: none;
	position: relative;
	padding: 5px !important;
	display: inline-block;
	text-decoration: none !important;
	font-family: 'MuseoSans500', Arial;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}
header nav ul li a:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	text-shadow: none;
}
/* Sub-menu */
header nav ul.sub-menu {
	display: none; /* FAZER JS */
	position: absolute;
	top: 100%;
	z-index: 1;
	background-color: #FFFFFF;
	width: auto;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
header nav ul.sub-menu li {
	border-left: 3px solid transparent;
}
header nav ul.sub-menu li:hover {
	border-left: 3px solid #000000;
	background-color: #E5E5E5;
}
header nav ul.sub-menu li:hover:last-child {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
header nav ul.sub-menu li a {
    width: 160px;
    font-family: Arial;
    text-transform: capitalize;
}
header nav ul.sub-menu li a:active {
	background-color: #FFFFFF;
}
header nav ul.sub-menu li:active:last-child a {
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	-ms-border-radius: 0 0 3px 0;
	-o-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
}
/* Subníveis do sub-menu */
header nav ul.sub-menu li ul.sub-menu {
	left: 100%;
	top: 0;
	margin-left: 0;
}

/********************************************************
************************* CONTEÚDO **********************
********************************************************/
/* Breadcrumb */
ol.breadcrumb {
	border-bottom: 1px solid #333333;
	margin: 5px 0 15px;
	min-height: 28px;
	overflow: hidden;
	padding: 0;
}
/* Content */
.content {
	width: 100%;
	/*height: 400px;*/
	min-height: 200px;
	position: relative;
	border-bottom: 3px solid #FFD400;
}
/* Background content */
img.bg {
	height: 100%;
	left: 0;
	/*min-height: 10%;*/
	min-width: 960px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.content .container_12 {
	padding: 5px 0 55px 0;
}
.top_bottom {
	margin-bottom: 20px;
	margin-top: 20px;
}

/************************ Index ***********************/
/* Infobar */
.info {
	color: #FFFFFF;
	font-size: 1.231em;
	text-decoration: underline;
}
.info:hover {
	color: #FFD400;
	text-decoration: none;
}
.content button.grid_3 {
	text-transform: uppercase;
}
/* Slider */
.slider {
	padding: 0 !important;
	height: 260px;
	position: relative;
}
.slider img {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.slider ul li a div {
	height: 205px;
}
.slider span, .slider h2 {
	margin: 15px;
	display: block;
}
.slider h2 {
	clear: both;
}
.slider ul li:hover h2 {
	text-decoration: underline;
}
.number-slider {
	color: #000000;
	font-family: 'MuseoSans900', Arial;
	font-size: 1.538em;
	float: left;
	margin: 15px 15px 15px 0 !important;
}
.rsNav, .rsTabs {
	position: absolute;
	bottom: 5%;
	left: 11%;
	width: auto;
}
.rsTabs li {
	display: inline-block;
	background: url("../image/button-slider.png") no-repeat scroll -68px -7px transparent;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
.rsTabs li:hover {
	background: url("../image/button-slider.png") no-repeat scroll -68px -51px transparent;
}
.rsTabs .rsNavSelected {
	background: url("../image/button-slider.png") no-repeat scroll -36px -51px transparent;
}
.rsTabs .rsNavSelected:hover {
	background: url("../image/button-slider.png") no-repeat scroll -36px -7px transparent;
}
.rsArrow {
	height: 40px;
	width: 40px;
	bottom: 4%;
	position: absolute;
	cursor: pointer;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.rsArrowRight {
	background: url("../image/button-slider.png") no-repeat scroll -90px 2px transparent;
	left: 21%;
}
.rsArrowRight:hover {
	background: url("../image/button-slider.png") no-repeat scroll -90px -41px #333333;
}
.rsArrowLeft {
	background: url("../image/button-slider.png") no-repeat scroll 2px -43px transparent;
	left: 4%;
}
.rsArrowLeft:hover {
	background: url("../image/button-slider.png") no-repeat scroll 2px 0px #333333;
}
.rsArrowRight:active, .rsArrowLeft:active {
	-webkit-box-shadow: inset 0 0 5px 0px #000000;
	box-shadow: inset 0 0 5px 0px #000000;
}
/* Seletores slider */
.slider span::selection, .slider h2::selection, .productbox h3::selection, .pagination a::selection  {
	background:#000000;
	color:#FFFFFF;
}
.slider span::-moz-selection, .slider h2::-moz-selection, .productbox h3::-moz-selection, .pagination a::-moz-selection {
	background:#000000;
	color:#FFFFFF;
}
.slider span::-webkit-selection, .slider h2::-webkit-selection, .productbox h3::-webkit-selection, .pagination a::-webkit-selection {
	background:#000000;
	color:#FFFFFF;
}
/* Mais vendidos */
section.grid_4 div.box ul li a {
	text-decoration: none;
}
.number {
	font-family: 'MuseoSans900', Arial;
	font-size: 3.692em;
	margin: 0 10px 0 3px;
	display: block;
	float: left;
	line-height: 1.231em;
	width: 60px;
	color: #000000;
}
.group {
	padding: 5px 0 0 !important;
	margin-left: 70px;
	width: 200px;
}
.group h2 {
	margin: 0;
}
/* Promoção e Destaque */
.featured a, .type-product li a {
	text-decoration: none;
}
.featured {
	height: 310px;
	position: relative;
}
.featured h2, .type-product li h3 {
	text-align: center;
	margin: 0;
	line-height: 2.462em;
	text-transform: capitalize;
}
.saibamais {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 35px;
	line-height: 2.692em;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	font-family: 'MuseoSans500',Arial;
	background: #FFFFFF;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.featured:active .saibamais, .type-product li:active .saibamais {
	color: #FFFFFF;
	text-shadow: none;
	background-color: #000000;
}
/* Newsletter */
form#mc-embedded-subscribe-form input {
	width: 280px;
}
/* Redes sociais */
section.grid_5 .box ul li div {
	margin: 0;
	width: auto;
}
/* Parceiros */
.parceiros {
	display: inline-block;
	border: medium none !important;
	margin: 5px 10px;
}
/* >>>>> TEMPORÁRIO <<<<< */
.box, .entry-content {
	background-color: #FFFFFF;
	border-bottom: 2px solid #FFD400;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.box ul li {
	padding: 10px 15px;
}
.box ul li + li {
	border-top: 1px solid #CCCCCC;
}
.box-yellow, .productbox:hover {

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%,#FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%,#FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}

/************************* 404 ************************/
.not-found img {
	margin: 50px 0;
}
.not-found h1, .not-found span, .not-found strong, .not-found div {
	text-align: center;
}
.not-found span, .not-found strong {
	color: #FFFFFF;
	font-size: 1.077em;
}
.not-found div {
	margin-top: 30px;
}
.not-found div form input {
	width: 200px;
}
.not-found div form button {
	width: 75px;
}

/*********************** Contact **********************/
/********************* Budget Form ********************/
label {
	color: #FFFFFF;
	text-align: right;
	font-size: 1.231em;
	line-height: 2.154em;
}
.formcontact, .budgetform {
	margin-top: 20px;
}
.formcontact input, .formcontact textarea, .formcontact button, .formcontact select, .budgetform input, .budgetform textarea, .budgetform button, .budgetform select {
	margin-left: 10px;
	width: 282px;
}
.formcontact button, .budgetform button {
	margin-left: 0;
}
.formcontact textarea, .budgetform textarea {
	max-width: 282px;
	min-width: 282px;
	height: 160px;
}
.formcontact div, .budgetform div {
	margin-bottom: 20px;
}
aside address p {
	margin: 8px 0;
	padding: 0;
}
aside address a {
	display: inline-block;
}
.mapa {
	margin: 8px 0 5px;
}

/****************** Single / Page ******************/
.thumbnail {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
article .entry-content {
	position: relative;
}
.entry-content header {
	margin-bottom: 20px;
}
.entry-content p:first-child {
	padding-top: 20px;
}
.entry-content time {
	float: left;
	color: #000000;
	font-family: 'MuseoSans100',Arial;
	font-size: 2.308em;
	height: 45px;
	line-height: 1em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 45px;
	margin-top: 5px;
}
.entry-content time span {
	float: none !important;
	font-family: 'MuseoSans500';
	font-size: 0.615em;
	line-height: 1em;
	margin: 0 !important;
	width: auto !important;
	display: block;
}
.entry-content header div, .entry-content footer div, .entry-content div div {
	display: block;
	width: 100%;
	height: 25px;
}
.entry-content h2 {
	margin: 20px 0 5px !important;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content address, .entry-content pre {
	padding: 0 25px;
	margin: 0 0 20px;
}
.entry-content p img, .entry-content h1 img, .entry-content h2 img, .entry-content h3 img, .entry-content h4 img, .entry-content h5 img, .entry-content address img, .entry-content pre img {
	display: block;
	float: left;
	height: auto;
	margin: 0 25px 25px 0;
	max-width: 570px;
}
.wp-caption {
	float: left;
	margin: 0 25px 25px;
	width: auto !important;
	padding: 0 0 5px;
	background-color: #F5F5F5;

	-webkit-box-shadow: 0 0 1px 0 #999999 inset;
	box-shadow: 0 0 1px 0 #999999 inset;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
p.wp-caption-text {
	color: #000000;
	font-family: Arial;
	font-size: 1em;
	line-height: 1.538em;
	margin: 0;
	padding: 0 10px;
}
.entry-content .infopost span {
	display: block;
	margin: 10px 10px 0 25px;
	width: 515px;
	float: left;
}
div span.number-comments {
	color: #FFFFFF;
	font-size: 0.923em;
	float: right;
	background: #666;
	width: 60px !important;
}
div span.number-comments {
	right: 10px;
	top: 10px;
	position: absolute;
}
footer div span.number-comments {
	right: 0;
	top: 0;
	position: inherit;
}
.author-name {
	width: 200px !important;
	margin: 0 !important;
	float: left;
}
.hshared, .fshared {
	border-bottom: 1px solid #CCCCCC;
	margin: 25px 25px 0;
	padding: 0 0 20px;
	width: 570px !important;
}
.hshared ul li, .fshared ul li {
	float: right;
	max-width: 110px;
	width: 100px;
}
.hshared ul li + li, .fshared ul li + li {
    margin: 0 8px;
}
.hshared ul li span, .fshared ul li span {
	margin: 0;
}
.fshared {
	border-top: 1px solid #CCCCCC;
	border-bottom: none medium;
	padding: 20px 0 0;
	margin: 30px 25px;
}
.fshared ul li {
	float: left;
}
.entry-content footer {
	height: auto;
	padding: 0;
	margin: 0;
}
.author {
	background-color: #F5F5F5;
}
.author img {
	border-bottom: 2px solid #FFD400;
	float: left;
	margin: 25px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.author-bio {
	padding: 25px 25px 25px 135px;
	width: 460px !important;
}
.author, .author-bio {
	height: auto !important;
}
.author-bio p, .author-bio h2 {
	padding: 0;
	margin: 0 !important;
}
.author-bio h2 {
	margin-bottom: 10px !important;
}
.author-bio button {
	margin: 20px 0 0;
}
/* Comments */
.comment {
	margin-top: 50px !important;
}
.commentform {
	margin-top: 20px;
}
.commentform input, .commentform textarea {
	width: 442px;
	margin-left: 10px;
}
.commentform div {
	margin-bottom: 20px;
}
.commentform textarea {
	max-width: 442px;
	min-width: 442px;
	height: 120px;
}

/********************** Sidebar *********************/
aside .widget-container {
	margin-bottom: 45px;
}
.widget-spot {
	height: 245px;
	padding-top: 5px;
}
.widget li {
	border-left: 3px solid transparent;
}
.widget li:first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.widget li:hover {
	border-left: 3px solid #000000;
	background-color: #E5E5E5;
}
.widget li a {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	text-transform: capitalize;
	display: block;
}
.widget li a:active {
	-webkit-box-shadow: inset 0 0 3px 0px #666666;
	box-shadow: inset 0 0 3px 0px #666666;
	text-shadow: none;
	background-color: #FFFFFF;
}
.widget li:active:first-child a {
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	-ms-border-radius: 0 3px 0 0;
	-o-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

/*************** Categoria dos produtos **************/
.type-product li {
	margin-bottom: 40px;
	height: 310px;
}
.productbox {
	position: relative;
}

/************* Listagem e sistema de abas ************/
.abas li {
	width: 210px;
	margin-bottom: 8px;
}
.abas li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 5px;
	text-transform: uppercase;
	font-family: Arial;
	width: 200px;
	background: #CCC;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.abas li.current {
	background-image: url('../image/aba.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-attachment: scroll;
	background-color: transparent;
	background-size: 10px 100%;
	width: 220px;
	font-weight: bold;
}
.abas li a:hover, .abas li.current a {
	background: #FFD400;
	background: -moz-linear-gradient(top, #FFE600 0%, #FFD400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE600), color-stop(100%,#FFD400));
	background: -webkit-linear-gradient(top,  #FFE600 0%,#FFD400 100%);
	background: -o-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: -ms-linear-gradient(top, #FFE600 0%,#FFD400 100%);
	background: linear-gradient(to bottom, #FFE600 0%,#FFD400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE600', endColorstr='#FFD400',GradientType=0 );
}
.abas li a:active {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;

	-webkit-box-shadow: inset 0px 0px 3px 0px #666666;
	box-shadow: inset 0px 0px 3px 0px #666666;
}
.abas li.current a:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* Pagination */
.pagination {
	height: 40px;
	position: relative;
	margin-top: 25px;
}
.pagination ul {
	width: auto;
	position: absolute;
	right: 0;
}
.pagination li {
	float: left;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #FFFFFF;
	text-align: center;
	margin-right: 10px;

	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
.pagination li a {
	text-decoration: none;
	line-height: 2em;
	font-size: 1.538em;
	color: #000000;
	font-family: 'MuseoSans900', Arial;
	display: block;
}
.pagination li:first-child {
	background-image: url("../image/button-slider.png");
	background-position: 2px -43px;
}
.pagination li:last-child {
	background-image: url("../image/button-slider.png");
	background-position: -90px 2px;
	margin-right: 0;
}
.pagination li:first-child, .pagination li:last-child {
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-indent: -9999em;
}
.pagination li:hover {
	background-color: #FFD400;
}
.pagination li:active {
	-webkit-box-shadow: inset 0 0 5px 0px #000000;
	box-shadow: inset 0 0 5px 0px #000000;
}
.pagination li:first-child:active {
	background-position: 2px 0;
}
.pagination li:last-child:active {
	background-position: -90px -41px;
}
.pagination li:active a {
	color: #FFFFFF !important;
	text-shadow: 2px 1px 0px #999999;
}

/***************** Blog ****************/
.homeblog .hshared {
	border: none medium !important;
}
.list-posts li {
	padding: 10px;
	position: relative;
}
.list-posts li + li {
	border-top: 1px solid #CCCCCC;
}
.list-posts hgroup {
	margin-left: 50px;
}
.list-posts hgroup h2, .list-posts hgroup h4 {
	margin: 0 !important;
}
.list-posts time {
	margin-top: 0;
}